@import "flowbite/src/themes/default";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  letter-spacing: -.0375rem;
  body{
    font-size:1.6rem;
    @apply text-black dark:text-gray-400
  }
}

@layer components {
  input:-webkit-autofill {
    @apply text-white; /* tailwind 적용 가능 */
    box-shadow: 0 0 0 1000px #1e1e1e inset;
    -webkit-text-fill-color: #fff !important;
  }
}

@layer utilities {
  .link-pipe{
    button, a{
      position:relative;
      @apply pr-8;
      &:before {
        content: '|';
        @apply dark:text-gray-400 text-gray-400 absolute right-3;
      }
      &:last-child{
        @apply pr-0;
        &:before{
          content:'';
        }
      }
    }
  }
}

.button-base{
  @apply h-20 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-md px-5 py-4 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;

    &.button-disabled-base{
    @apply bg-blue-400 dark:bg-blue-500 cursor-not-allowed
  }

}
.input-base {
  @apply block px-6 py-6 w-full text-gray-900 text-xl
 bg-transparent  rounded-lg border border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600          placeholder:opacity-0 focus:placeholder:opacity-100;

  &.error-input-base{
    @apply block px-6 py-6 w-full text-gray-900 bg-transparent rounded-lg border  dark:text-white dark:border-red-600
  }
  &.success-input-base{
    @apply block px-6 py-6 w-full text-gray-900 bg-transparent rounded-lg border dark:text-white dark:border-green-600
  }
  &::placeholder {
    @apply text-gray-400;
  }
}

.label-base{
  @apply absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-4 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-0 peer-focus:left-4 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1;

  &.error-label-base{
    @apply  text-red-600  dark:text-red-400
  }

  &.success-label-base{
    @apply  text-green-600 dark:text-green-400
  }
}